body {
    width: 100%;
    float: left;
    overflow: hidden;
    font-family: "Hind", sans-serif;
}

/* MAPA */
.box-mapa {
    position: relative;
    z-index: 1;
    float: left;
    padding: 20px 0 0 15px;
}

#map {
    display: none;
    transform: scale(1.2);
    transform: scale(1);
    display: table !important;
    margin: 0 auto;
    float: left;
}

#map .state {
    cursor: pointer;
}

#map .state .shape {
    cursor: pointer;
    -width: 0;
}

#map .state .label_icon_state {
    fill: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
}

#map .state .label_state {
    display: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

#map .model-map .state:hover .label_state {
    display: block;
    fill: #FFF !important;
}

#map .model-map .state .shape {
    fill: #ddd;
}

#map .model-map .state:hover .shape {
    fill: #039be5 !important;
}

#map .model-map .state .icon_state {
    fill: #284779;
}

#map .model-map .state:hover .icon_state {
    fill: #039be5;
}

#map .model-map .state .icon_state+.label_icon_state {
    fill: #FFF;
}

/* #map .model-map .state:hover .icon_state+.label_icon_state {} */

#map .model-map .state .label_icon_state {
    fill: #666;
}

#map .model-map .state:hover .label_icon_state {
    fill: #FFF;
}

#map .model-map .state .label_state {
    fill: #666;
    display: none;
}

#map .model-map .state .shape {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#map .model-map .state:hover .shape {
    fill: #0288d1;
}

.parca {
    position: relative;
    float: left;
    padding: 0 0 0 15%;
}

.parca select {
    display: none;
    margin: 0 auto;
    width: 230px;
    border: 1px solid #999;
    height: 40px;
    padding: 9px;
    border-radius: 0;
}

.parca .estado {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid #DDD;
    position: absolute;
    margin-top: 45px;
    opacity: 0;
    border-radius: 5px;
    visibility: visible;
    padding: 10px;
    left: 0;
    right: 0;
    min-width: 300px;
    display: table;
    margin: 57px 0 0 80px;
    box-shadow: 0 1px 80px 0 rgba(0, 0, 0, .3);
}

.parca .estado h3 {
    margin-top: 0;
    display: block;
    background-color: #1e88e5;
    padding: 10px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
}

.parca .estado ul {
    padding-left: 0px;
}

.parca .estado ul li {
    line-height: 24px;
    list-style: none;
}

.parca #box_mg.estado {
    opacity: 1;
    visibility: visible;
}

@media(max-width: 1199px) {
    #map {
        transform: scale(1);
    }
}

@media(max-width: 991px) {
    .parceiros .two .parca .estado {
        display: block;
        margin: 45px auto;
        float: none;
        position: absolute;
        left: 0;
        right: 0;
        min-width: 160px;
        max-width: 306px;
    }

    .box-mapa {
        position: relative;
        top: 0;
        left: initial;
        display: table;
        margin: 0 auto;
    }
}

@media(max-width: 500px) {
    .box-mapa {
        display: none;
    }

    .parca select {
        display: block;
    }
}